body {
  background: linear-gradient(45deg, #ff7e00, #ffae00);
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.album {
  background: none !important;
}

.navbar-logo img {
  height: 30px;
  width: auto;
}

.container-fluid.p-0 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer {
  background-color: #131921;
  color: white;
  padding: 20px 0;
  text-align: center;
  font-size: 14px;
  margin-top: auto;
}

.footer p:first-child {
  background-color: #131921;
  cursor: pointer;
  font-weight: bold;
}
