
.main-header {
    background: #333;
    padding: 10px 0;
}
.main-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item {
    display: inline-block;
    margin: 0 15px;
}
.nav-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}
.nav-link:hover {
    color: #ff9800;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 600px 200px;
    background-color: rgb(82, 152, 180);
    gap: 10px;
    padding: 10px;
}

.box1 {
    display: grid;
    height: 350px;
    width: 300px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #766584;
    gap: 10px;
    padding: 10px;
    border-radius: 8px;
}


.box2,
.box3{
    height: 400px;
    width: 300px;
    border-radius: 8px;
}

.box2 {
    background-color: rgb(39, 104, 137);
}

.box3 {
    background-color: aquamarine;
}


.box11, .box12, .box13, .box14 {
    width: 120px;
    display: flex;
    flex-direction: column;   
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    background-color: white;
    padding: 5px;
}


.box11 img,
.box12 img,
.box13 img,
.box14 img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}


.box11 p,
.box12 p,
.box13 p,
.box14 p {
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
    color: black;
    text-align: center;
}
